<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Web Application</title>
    <style>
        #sidebar {
            height: 100vh; /* 100% viewport height */
        }
        .nav-link.btn {
            margin: 5px 0; /* Add vertical margin between buttons */
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-secondary">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
			<center>
			  <h4><span class="label label-default">XY Movement</span></h4>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-light" href="/zerosetting">ZeroSetting</a>
                        </li>
<li class="nav-item">
<center>
<table>
<tr>
<td></td>
<td><a href="/xforward" id=xforward><input type="button"  value="X+"></a></td>
<td></td>
</tr>
<tr>
<td><a href="/yforward" id=yforward><input type="button" id='forward' name="forward" value="Y+"></a></td>
<td><a href="/home"><input type="button" value="Ho"></a></td>
<td><a href="/ybackward" id=ybackward><input type="button" id='backward' name="backward" value="Y-"></a></td>
</tr>
<tr>
<td></td>
<td><a href="/xbackward" id=xbackward><input type="button"  value="X-"></a></td>
<td></td>
</tr>

</table>
</center>

</li>

<br>
<br>
                        <li class="nav-item">
				<center>
			  <h4><span class="label label-default">Gripper Movement</span></h4>
                        </li>

 <li class="nav-item">
<center>
<table>
<tr>
<td></td>
<td><a href="/release" id=release><input type="button" id='release' name="release" value="R"></td>
<td></td>
</tr>
<tr>
<td><a href="/zup" ><input type="button"  name="zup"  value="Z+"></a>
</td>
<td><a ><input type="button" value="H"></a></td>
<td><a href="/zdown" ><input type="button"  name="zdown" value="Z-"></a>
</td>
</tr>
<tr>
<td></td>
<td><a href="/catch" id=catch><input type="button" id='catch' name="catch" value="C"></a></td>
<td></td>
</tr>

</table>
</center>
</li>


			<br>
			<br>	

                        <li class="nav-item">
				<center>
			  <h4><span class="label label-default">Image Process</span></h4>
                            <a class="nav-link btn btn-light" href="/scan">Scan</a>
                        </li>



                    </ul>
                </div>
            </nav>

            <!-- Content -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<center>
<h1>MushRoom Robot System</h1>
                <p><img src="{{ url_for('video_feed') }}"></p>


<center>
<iframe src="http://192.168.1.4:5001/video_feed"
        width="100%" height="500" frameborder="0"
        allowfullscreen sandbox>
  <p>     iframes</p>
</iframe>
</center>

</center>
            </main>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery (Make sure to include them) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
