
    <mat-tab-group  (selectedIndexChange)="selectedTabIndex.set($event)" class="remove-border-bottom">
        
        <mat-tab label="Warehouse 1" >
          @defer(when selectedTabIndex() === 1; ) {
       

           
            <app-card-view ip="http://10.0.0.133:5000/" />
       
       
          }
        
        </mat-tab>
        <mat-tab label="Warehouse 2">
          @defer(when selectedTabIndex() === 2;) {
           
            <app-card-view ip="http://10.0.0.134:5000/"/>
          }
        </mat-tab>
       
      </mat-tab-group>


