mat-toolbar {
    justify-content: space-between;
  }

  .prefetch-slider {
    color: white;
  }
  .remove-border-bottom .mat-tab-header {
    border-bottom: none;
}

mat-toolbar {
    justify-content: space-between;
  }

  .prefetch-slider {
    color: white;
  }