
{% extends "main.html" %}

{% block title %}Raw Camera Feed{% endblock %}

{% block content %}
            <div class="row justify-content-center mt-5">
                    <div class="col-md-10">
                        <button class="btn btn-primary" id="top">
                            <i class="fas fa-arrow-up"></i>
                        </button>
                        
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-md-10">
                        <button class="btn btn-primary" id="bottom">
                            <i class="fas fa-arrow-down"></i>
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-md-10">
                        <div class="text-center mt-3">
                            <!-- Top arrow button -->
                            <button class="btn btn-primary" id="up">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-1 text-right d-flex align-items-center justify-content-end">
                                <!-- Left arrow button -->
                                <button class="btn btn-primary" id="left">
                                    <i class="fas fa-arrow-left"></i>
                                </button>
                            </div>
                            <div class="col-md-10 text-center">
                                <!-- Image in the center -->
                                <img src="http://0.0.0.0:{{ camera_port }}" class="img-fluid" alt="Centered Image">
                            </div>
                            <div class="col-md-1 text-left d-flex align-items-center justify-content-end">
                                <!-- Right arrow button -->
                                <button class="btn btn-primary" id="right">
                                    <i class="fas fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <!-- Bottom arrow button -->
                            <button class="btn btn-primary" id="down">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $("#up, #down, #right, #left, #top , #bottom").on("click", function () {
            var button = $(this);
            direction = button.attr("id")
            var originalIconClass = "fas fa-arrow-"+direction;
            var loadingIconClass = "fas fa-spinner fa-spin";
            
            // Disable the button and change the icon to loading
            button.prop("disabled", true);
            button.find("i").removeClass(originalIconClass).addClass(loadingIconClass);

            // Send an AJAX request to the Flask route with the direction
            $.ajax({
                type: "GET",
                url: "/move/"+direction,
                //data: { direction: direction }, // Specify the direction here
                success: function (response) {
                    console.log(response);
                    // Re-enable the button and restore the original icon
                    button.prop("disabled", false);
                    button.find("i").removeClass(loadingIconClass).addClass(originalIconClass);
                },
                error: function (error) {
                    console.error("Error:", error);
                    // Re-enable the button and restore the original icon on error
                    button.prop("disabled", false);
                    button.find("i").removeClass(loadingIconClass).addClass(originalIconClass);
                }
            });
        });
    });
</script>
{% endblock %}